env/

# ===== Jupyter =====
.ipynb_checkpoints/

# ===== Logs =====
*.log

# ===== Data / Models =====
data/
*.pkl
*.parquet
*.csv
*.xlsx

# ===== OS Files =====
.DS_Store
Thumbs.db

# ===== IDE =====
.idea/
.vscode/